* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image_result {
    width: 50%;
    margin-top: 2rem;
}

.detector_container {
    position: relative;
}

.detector_container img {
    height: 100%;
}

.founded_car {
    cursor: pointer;
}

.founded_cars {
    display: flex;
    flex-direction: column;
}

.founded_cars img {
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.founded_cars_list,
.image_result_list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}